.left-bar {
  width: 20%;
  height: 460px;
  background-color: blueviolet;
  border-radius: 10px;
  margin-left: 10px;
}
.link {
  color: aliceblue;
}
.left-bar ul {
  margin-top: 50px;
  padding-bottom: 20px;
}
.right-bar {
  width: 100%;
}
